<section local-class="quiz">
  <div class="quiz__title">{{this.name}}</div>

  <div local-class="quiz__form" >
    {{#each this.questions as |question index|}}
      <div local-class="quiz__question">
        <p local-class="quiz__question-title">{{question.text}}</p>

        <div local-class="quiz__options">
          {{#each question.choices as |choice|}}
            <Ui::Checkbox
              @checked={{true}}
              @onChange={{fn this.onToggleAnswer question.id choice}}
              @label={{choice}}
              local-class="quiz__option"
            />
          {{/each}}
        </div>
      </div>
    {{/each}}

    <Ui::Button @type="primary" {{on 'click' this.submitAnswer}}>
      Отправить
    </Ui::Button>
  </div>
</section>

{{outlet}}